{% extends "base.html" %}
{% block title %}<title>All confs</title>{% endblock %}
{% block content %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col"></th>
            </tr>
        </thead>
  <tbody>
  {% for conf_item in confs %}
      <tr>
          <th scope="row">{{ conf_item.id }}</th>
          <td name="{{ conf_item.name }}">{{ conf_item.name }}</td>
          <td name="{{ conf_item.start }}">{{ conf_item.start }}</td></div>
          <td name="{{ conf_item.end }}">{{ conf_item.end }}</td></div>
          <td>
              <div class="container">
                  <div class="row justify-content-end">
                      <form method="post" action="{{ url_for('delete_conferences') }}">
                          <div class="mr-1">
                              <input type="hidden" name="id_conference" value="{{ conf_item.id }}">
                              <button name="delete{{ conf_item.id }}" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                          </div>
                      </form>
                      <div class="mr-1">
                          <a name="edit{{ conf_item.id }}" href="/edit_entry/{{ conf_item.id }}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                      </div>
                  </div>
              </div>
          </td>
      </tr>
  {% endfor %}
  </tbody>
</table>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class=".col-4 mt-4 sm">
                <a class="btn btn-dark" href="">Add conference</a>
            </div>
        </div>
    </div>
{% endblock %}